header {
    background-color: #62757F;
    color: white;
    padding: 20px 50px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white; 
    margin-left: 30px;
    /* pas de soulignement sous les liens */
    text-decoration: none;
}

nav a:hover {
    color: rgb(17, 17, 97);
}

.best-movie {
    /* cadre noir autour du film du moment */
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    /* separation entre header et cadre du f ilm du moment */
    margin-top: 20px;
    /* espacement bords du cadre */
    padding: 20px 50px 200px 50px;
}

.best-movie-image {
    float:right;
    margin-left:200px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: red;
}

.random-movies {
    /* cadre noir autour de la categorie random movies */
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    /* separation entre header et cadre du f ilm du moment */
    margin-top: 20px;
    /* espacement bords du cadre */
    padding: 20px 50px 150px 50px;
}

 /* The Modal (background) */
 .best-movie-description-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .best-movie-description-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .best-movie-description-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .best-movie-description-close:hover,
  .best-movie-description-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
